<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oversigt</title>
    <link type="text/css" rel="stylesheet" href="Table.css">
</head>
<body>
<h>Booking Oversigt</h>

<table>
    <thead>
    <tr>
        <th>idBooking</th>
        <th>isBruger</th>
        <th>Seats</th>
        <th>idKunder</th>
        <th>idVisning</th>
        <th>Valgmuligheder</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking: ${booking}">
        <td th:text="${booking.idBooking}"></td>
        <td th:text="${booking.brugerId}"></td>
        <td th:text="${booking.seats}"></td>
        <td th:text="${booking.idKunde}"></td>
        <td th:text="${booking.idVisning}"></td>
        <td>
            <a th:href="@{'/redigerBooking'}+${booking.idBooking}"><button type="button" class="btn">Rediger</button></a>
            <a th:href="@{'/sletBooking'}+${booking.idBooking}"><button type="button" class="btn">Slet</button></a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>