<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Slik</title>
    <link rel="stylesheet" type="text/css" href="opretFilm.css"/>
</head>
<body>
<div th:replace="/header"></div>

<div class="film_oversigt">
    <div class="form">
        <form method="post" th:action="@{/createConsumables}">
            <h2>Opret nyt guf</h2>
            <label>Navn: </label>
            <input class="textInput" oninvalid="alert('Navn på guf skal indtastes!')" required title="Indtast navn" type="text"
                   th:field="${candy.navn}">
            <p></p>
            <label>Pris: </label>
            <input class="textInput" oninvalid="alert('Pris på guf skal indtastes!')" required title="Indtast pris" type="text"
                   th:field="${candy.pris}">
            <p></p>

            <button type="submit" value="send">Godkend</button>
            <a href="/">
                <button>Annuller</button>
            </a>
        </form>
    </div>
</div>


</body>
</html>