<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" type="text/css" href="forside.css">
</head>

<div>
    <img src="../static/LogoMakr_3EtZfT.png" height="100" width="300"/>
    <h1>Kino XP</h1>
    <button>Opret film</button>
    <button>Rediger film</button>
    <button>Billet statistik</button>
    <button>log ud </button>
</div>

<div class="film_oversigt">
    <div class="form" >
        <img src="https://pbs.twimg.com/profile_images/638982332037230592/tsLapU_H_400x400.png" height="300" width="250">
        <p>Titel = google</p>
        <p>tid = </p>
        <p>pris = </p>
        <p>aldersgranse = </p>
        <p>skuespiller = </p>
        <p>sal = </p>
        <button>booking</button>
    </div>
</div>

</body>
</html>