<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" type="text/css" href="forside.css">
</head>

<div>
        <img src="LogoMakr_3EtZfT.png" height="100" width="300" class="logo"/>
        <button class="logud">log ud </button>
        <a th:href="opretFilm"><button class="menu">Opret film</button></a>
        <a th:href="redigerFilm"><button class="menu">Rediger film</button></a>
        <a th:href="billetStatistik"><button class="menu">Billet statistik</button></a>
        <a th:href="opretBooking"><button class="menu">booking</button></a>

</div>

<div class="film_oversigt">
    <div class="form" th:each="films: ${films}">

        <img th:src="${films.url_billede}" height="300" width="250">
        <a th:href="@{'/editFilm?titel='+${films.titel}}">
        <button class="button">Rediger</button></a>
        <p><label>Titel: </label><label th:text="${films.titel}"></label></p>
        <p><label>Pris: </label><label th:text="${films.pris}"></label></p>
        <p><label>Aldersgrænse: </label><label th:text="${films.aldersgranse}"></label></p>
        <p><label>Skuespillere: </label><label th:text="${films.skuespiller}"></label></p>
        <p><label>Kategori: </label><label th:text="${films.kategori}"></label></p>
        <p><label>Tid: </label><label th:text="${films.tid}"></label></p>

    </div>
</div>

</body>
</html>