<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" type="text/css" href="forside.css">
</head>

<div>
        <img src="LogoMakr_3EtZfT.png" height="100" width="300" class="menu"/>
        <button class="logud">log ud </button>
        <h1>Kino XP</h1>
        <a th:href="opretFilm"><button class="menu">Opret film</button></a>
        <a th:href="redigerFilm"><button class="menu">Rediger film</button></a>
        <a th:href="billetStatistik"><button class="menu">Billet statistik</button></a>
</div>

<div class="film_oversigt">
    <div class="form" >
        <img src="https://pbs.twimg.com/profile_images/638982332037230592/tsLapU_H_400x400.png" height="300" width="250">
        <p>Titel = google</p>
        <p>tid = </p>
        <p>pris = </p>
        <p>aldersgranse = </p>
        <p>skuespiller = </p>
        <p>sal = </p>
    </div>
</div>

</body>
</html>