<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="forside.css">
</head>
<body>
<div>
    <img src="LogoMakr_3EtZfT.png" height="100" width="300" class="logo"/>
    <button class="logud">log ud </button>
    <a th:href="opretFilm"><button class="menu">Opret film</button></a>
    <a th:href="bookingOversigt"><button class="menu">Booking oversigt</button></a>
    <a th:href="billetStatistik"><button class="menu">Billet statistik</button></a>
    <a th:href="opretBooking"><button class="menu">booking</button></a>

</div>
</body>
</html>