<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KinoXP</title>
    <link rel="stylesheet" href="OurStyle.css">
</head>
<body>
<header>TEMP HEADER</header>
<form method="post" th:action="@{/login}">
    <div id="login-wrap">
        <label>Email</label>
        <input type="email" required="true" th:field="${bruger.email}">
        <label>Kodeord</label>
        <input type="password" required="true" th:field="${bruger.password}">

        <input type="submit" value="Login">
        <p th:if="${!error.isEmpty()}" class="error" th:text="${error}"></p>
    </div>
</form>

</body>
</html>