
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Opret film</title>
    <link rel="stylesheet" type="text/css" href="opretFilm.css"/>
</head>
<body>
<div th:replace="/header"></div>
<div class="film_oversigt">
    <div class="form">
        <h2>Opret film</h2>

        <form method="Post" th:action="@{/opretFilm}" class="login-form">
            <label>Titel:</label>
            <input type="text" th:field="${Film.titel}" required="true" /></br></br>
            <label>Skuespiller:</label>
            <input type="text" th:field="${Film.skuespiller}" required="true" /></br></br>
            <label>Pris:</label>
            <input type="text" th:field="${Film.pris}" required="true" /></br></br>
            <label>Aldersgrænse:</label>
            <input type="text" th:field="${Film.aldersgranse}" required="true" /></br></br>
            <label>Tid:</label>
            <input type="text" th:field="${Film.tid}" required="true" /></br></br>
            <label>Film plakat:</label>
            <input type="text" th:field="${Film.url_billede}" required="true" /></br></br>
            <label>Kategori</label>
            <select class="dropDown" th:field="${Film.kategori}" required="true" >
                <option th:value="Gyser">Gyser</option>
                <option th:value="Action">Action</option>
                <option th:value="Drama">Drama</option>
                <option th:value="Komedie">Komedie</option>
                <option th:value="Sci-fi">Sci-fi</option>
            </select>



            <input class="sendButton" type="submit" value="Send" />


        </form>
        <a href="/">Annuller</a>
    </div>
</div>
</body>
</html>