<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>Opret booking</h1>

<form method="post" th:action="@{/opretBooking}">
    <label>Fornavn: </label>
    <input type="text" th:field="${booking.fornavn}">
    <p></p>
    <label>Efternavn: </label>
    <input type="text" th:field="${booking.efternavn}">
    <p></p>
    <label>Telfon nr.: </label>
    <input type="number" th:field="${booking.telefon}">
    <p></p>
    <label>Email: </label>
    <input type="email" th:field="${booking.email}">
    <p></p>
    <label>Reklamer: </label>
    <input type="checkbox" th:field="${booking.reklamer}">
    <p></p>
    <label>Betjent af: </label>
    <input type="text" th:field="${bruger.fornavn}" readonly="true">
    <p></p>
    <button type="submit", value="send">Godkend</button>
    <a href="/"><button>Annullere</button></a>


</form>

</body>
</html>