
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Rediger Booking</title>
    <link rel="stylesheet" type="text/css" href="Underside.css">

    <!--  <link rel="stylesheet" type="text/css" href="css.css"/> -->
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Rediger Booking</h1>

        <form method="Post" th:action="@{/redigerBooking}" class="login-form">
            <label>Booking ID:</label>
            <input type="text" th:field="${booking.idBooking}" required="true" /></br></br>
            <label>Kunde ID:</label>
            <input type="text" th:field="${booking.brugerId}" required="true" /></br></br>
            <label>Antal seats:</label>
            <input type="text" th:field="${booking.seats}" required="true" /></br></br>
            <label>Visning:</label>
            <input type="text" th:field="${booking.idVisning}" required="true" /></br></br>

            <input style="background: #b2b2b2" type="submit" value="Send" />


        </form>
    </div>
</div>
</body>
</html>