<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="sal.css">

</head>
<body>
<div id="theater">
    <div id="screen"></div>
    <div id="seatOverview"></div>
    <div id="entrance"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="seating.js"></script>
<script th:inline="javascript">


    var test = /*[[${test}]]*/ 'oh';
    console.log(test);

    $(document).ready(function () {

        var searchParams = new URLSearchParams(window.location.search);
        var sal = searchParams.get('sal');


        if (sal == 1) {
            for (var i = 1; i <= 25; i++){

                var rowToChar = String.fromCharCode(64 + i);
                var row = "<div class='row' id='row" + i + "'></div>";
                $("#seatOverview").append(row);

                for(var j = 1; j <= 16; j++) {
                    var seat = "<div class='seat1' id='seat" + j +"'>" + rowToChar + j + "</div>";
                    $("#row" + i).append(seat);
                }
            }
        }

        // if (sal == 2) {
        //     for (var i = 1; i<= 20; i++) {
        //
        //         var rowToChar = String.fromCharCode(64 + i);
        //         var row = "<div class='row2' id='row2" + i + "'></div>";
        //         $("#seatOverview").append(row);
        //
        //         for(var j = 1; j <= 12; j++) {
        //
        //             var seat = "<div class='seat2' id='seat" + j +"'>" + rowToChar + j + "</div>";
        //             $("#row2" + i).append(seat);
        //
        //         }
        //     }
        // }

        $('.seat1').on('click', function () {
            $(this).toggleClass('active');

        })
        $('.seat2').on('click', function () {
            $(this).toggleClass('active');

        })
    });
    alert(test);
</script>
</body>
</html>