
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Slet Booking</title>
    <link rel="stylesheet" type="text/css" href="Underside.css">
    <!--  <link rel="stylesheet" type="text/css" href="css.css"/> -->
</head>
<body>
<div th:replace="/header"></div>
<br>
<div class="login-page">
    <div class="form">
        <h1>Slet Booking</h1>

        <form method="Post" th:action="@{/sletBooking}" class="login-form">
            <label>Er du sikker på at du vil slette denne booking?:</label>
            <input class="textInput" type="text" th:field="${booking.idBooking}" required="true" readonly="True" /></br></br>
            <button type="submit" value="send">Godkend</button>
            <a href="/bookingOversigt">
                <button>Annuller</button>
            </a>
        </form>
    </div>
</div>
</body>
</html>