<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vagtplan</title>
    <link type="text/css" rel="stylesheet" href="Underside.css">
</head>
<body>
<div th:replace="/header"></div>

<h1 align="center">Vagtplan</h1>
<table>
    <thead>
    <tr>
        <th></th>
        <th>Mandag</th>
        <th>Tirsdag</th>
        <th>Onsdag</th>
        <th>Torsdag</th>
        <th>Fredag</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr>
        <td><b>08-12</b></td>
        <td>Hanne</td>
        <td>Hanne</td>
        <td>Morten</td>
        <td>Morten</td>
        <td>Kurt</td>
    </tr>
    <tr>
        <td><b>12-14</b></td>
        <td>Hanne</td>
        <td>Hanne</td>
        <td>Morten</td>
        <td>Morten</td>
        <td>Kurt</td>
    </tr>
    <tr>
        <td><b>14-16</b></td>
        <td>Hanne</td>
        <td>Hanne</td>
        <td>Morten</td>
        <td>Morten</td>
        <td>Kurt</td>
    </tr>
    <tr>
        <td><b>16-18</b></td>
        <td>Hanne</td>
        <td>Hanne</td>
        <td>Morten</td>
        <td>Morten</td>
        <td>Kurt</td>
    </tr>
    <tr>
        <td><b>18-20</b></td>
        <td>Hanne</td>
        <td>Hanne</td>
        <td>Morten</td>
        <td>Morten</td>
        <td>Kurt</td>
    </tr>
    </tbody>
</table>

</body>
</html>