.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.film_oversigt {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

h1 {
    position: absolute;
    top: 0;
    right: 50%;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.menu{
    width: 24%;
}

.logud{
    position: absolute;
    right: 0;
    top: 10px;
}

button{
    background-color: #d1d1d1;
    border: none;
    color: #0a0500;
    text-align: center;
}

