.form {
    background: #ffffff;
    max-width: 360px;
    width:20%;
    margin: 0 3%;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display:inline-block;
}

.film_oversigt {
    width:80%;
    padding: 8% 0 0;
    margin: 0 auto;
}
.form p{
    margin:0;
}

/*h1 {*/
/*position: absolute;*/
/*top: 0;*/
/*right: 50%;*/
/*font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;*/
/*}*/

.menu{
    width: 24%;
}
.menu:hover{
    background-color: rgba(0, 0, 50, 0.4);
}

.logo{
    width: 24%;

}

.logud{
    position: absolute;
    right: 0;
    top: 10px;
}

.movieInformation a {
    text-decoration: none;
}

.movieInformation p{
    text-align: left;
    font-family: "Verdana";
    font-weight: bold;
}
.movieInformation label:nth-of-type(2){
    font-weight: normal;
    font-size:13px;
}

button{
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    /**/
    background-color: deepskyblue;
    border: none;
    color: black;
    text-align: center;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
}

body{
    background: rgba(50, 50, 50, 0.4) url("cinema-film-reelseamlessly-loopable-motion-background_ee5l_krce__F0000.png");
    background-blend-mode: screen;
}

