body{
    background: rgba(50, 50, 50, 0.4) url("cinema-film-reelseamlessly-loopable-motion-background_ee5l_krce__F0000.png");
    background-blend-mode: screen;
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#list {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#list td, #list tr{
    border: 1px solid #ddd;
    padding: 8px;
}
#list tr:nth-child(even){background-color: #f2f2f2;}

#list tr:hover {background-color: #ddd;}

#list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #afbebb;
    color: white;
}

button{
    background-color: #B2B2B2;
    border: none;
    color: white;
    text-align: center;
}
.button1{
    padding: 5px 10px;
}
.button2{
    padding: 15px 32px;
}
h2{
    font-family: "Roboto", sans-serif;
    padding: 10px 40px;
}

.dropDown{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}