#login-wrap{
    padding:50px 0;
    width:250px;
    margin:0 auto;
    border:4px solid aquamarine;
}
#login-wrap input[type="email"], input[type="password"]{
    display:block;
    margin:0 auto;
    width:200px;
    border-radius: 20px;

}
#login-wrap label{
    display:block;
    margin:0 auto;
    width:200px;
}
#login-wrap input[type="submit"]{
    width:200px;
    display:block;
    margin:0 auto;
    border-radius: 20px;
    background-color:darkgreen;
    color:yellow;
    margin-top:10px;
}
.logoLogin{
    display: block;
    margin-left: auto;
    margin-right: 525px;
    width: 25%;}