/* Matthias */
th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 9px;
    font-size:20px;
}

/* Matthias */
table {
    width: 100%;
    background-color:rgba(0,191,255,0.5);
    border-collapse: collapse;
}

/* Matthias */
tr:hover {
    background-color:#f5f5f5;
}

button{
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    /**/
    background-color: deepskyblue;
    border: none;
    color: black;
    text-align: center;
    height: 40px;
    font-family: Helvetica;
    font-size: 15px;
}

body{
    background: rgba(50, 50, 50, 0.2) url("cinema-film-reelseamlessly-loopable-motion-background_ee5l_krce__F0000.png");
    background-blend-mode: screen;
}
h1{
    text-align:center;
}
form {
    position: absolute;
    left:33%;
    right:auto;
    background: #87CEEB;
    max-width: 360px;
    width:20%;
    margin: 0 3%;
    padding: 70px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display:inline-block;
}

